/* Set up and Overrides */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Source+Sans+Pro:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light: #d7d1e0;
    /* whitish lavender*/
    --dark: #262429;
    /*dark purplish grey */
    --lavenderBackground: #b2aabd;
    /* light lavender */
    --titles: #473959;
    /* dark lavender */
    --inputs: #a1126a;
    /* purplish pink */
    --linkHover: #de459e;
    /* light pink */
    --seclinkHover: #290018;
    /* dark pink */
}

img {
    width: 100%;
}

body {
    font-family: 'source sans pro', sans-serif;
    font-size: 1em;
}

/* Navigation */

nav {
    background-color: var(--dark);
}

#main-nav {
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: end;
}

#logo {
    width: 50px;
    display: block;
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding: 5px;
}

nav a {
    color: var(--light);
    text-decoration: none;
}

#secondary-nav{
    background-color: #646069;
    padding: 10px 20px;
    text-align: center;
    display: none;
}

/* intro */

section, aside, #intro p{
    padding:20px;
}

#intro{
    padding: 0;
}

.lavender{
    background-color: var(--lavenderBackground);
}

.background {
    background-size: cover;
}

#intro-title {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3cRLONrhxtt_vrxDNwFDYtcLezsDHPSELaoZsyM8X5p3gIhH8Nfby0FzVxMNyGMazPJA1s2mBqgKuQ4zBuLQFKsBVLwV_HvuyCriQGtqsvawml0XTYYla6VUnjKJiTq8yAMWQ2JEKdp_aoVuOAxF6tG=w670-h1005-no?authuser=0');
    height: 70vh;
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 3.8em;
    width: 70%;
    margin: auto;
    text-align: center;
    color: var(--titles);
}

/* Ingredients */

h2 {
    color: var(--titles);
    font-size:2.4em;
    margin-bottom: 20px;
}

#ingredients>div{
    margin-bottom: 30px;
}

#ingredients>div>p:nth-of-type(2){
    margin: 5px 0;
}

#ingredients>div span, #ingredients>div label{
    font-weight: bold;
}

#ingredients input{
    color: var(--inputs);
    font-size: 1em;
    width: 70px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2.5px;
}

#ingredients li img {
    width: 20px;
    margin-right: 5px;
}

#ingredients li input {
    border: none;
}

#ingredients li {
    display:grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    margin: 10px 0;
}

/* parallax */

#lavenderField {
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3fzzfLv3eE9y3Ky2hMMhaKjh2ueioC5P5FCV3L9dwpOpjYJVmplbmSrqqffMd8De27vfv-PF61oPLeZm-T9_xeamlSTJHn8IsIs5BLT2sGRank4yIuUGZa4vB-lCMPOVbLM745i1ZRirm2I_aRpemHU=w1502-h1005-no?authuser=0');
    height: 200px;
    background-attachment: fixed;
}

/* instructions */

#video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

#video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#instructions p {
    margin: 10px 0 20px 0;
}

/* questions */

#questions>div {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

button {
    background-color: transparent;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
}

#questions>div>div {
    padding-top: 10px;
}

/* aside */

aside img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    display: block;
    margin: auto;
}

aside h3 {
    margin: 10px 0;
    font-size: 1.8em;
    color: var(--titles);
}

aside span{
    font-weight: bold;
}

aside a{
    text-decoration: none;
    color: var(--inputs);
}


/* Hover effects */

nav:hover #secondary-nav{
    display:block;
}

#main-nav a:hover{
    color: var(--linkHover);
    font-weight: bold;
}

#secondary-nav a:hover{
    color: var(--seclinkHover);
    font-weight: bold;
}

/* layouts */

@media only screen and (min-width: 500px) {
    body {
        background-color: lightblue;
    }

    #main-nav {
        padding: 20px 40px;
    }

    nav li {
        padding: 5px 0 5px 25px;
    }

    section, aside, #intro p{
        padding: 40px;
    }

    nav{
        position: fixed;
        width: 100%;
        z-index: 10;
    }

}

@media only screen and (min-width: 700px) {
    body {
        background-color: blue;
    }

    #gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        'scoop scoop'
        'cone popsicle'
        'cone lavender';
        grid-gap: 20px;
    }

    #gallery img:nth-of-type(1){
        grid-area: scoop;
        height: 200px;
        object-fit: cover;
    }

    #gallery img:nth-of-type(2){
        grid-area: cone;
        height: 400px;
        object-fit: cover;
    }

    #gallery img:nth-of-type(3){
        grid-area: popsicle;
        height: 190px;
        object-fit: cover;
    }

    #gallery img:nth-of-type(4){
        grid-area: lavender;
        height: 190px;
        object-fit: cover;
    }


    aside img {
        float: left;
        shape-outside: circle();
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
